.hero{
    display: flex;
    justify-content: space-between;
}

.left-h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.right-h{
    flex: 1;
    position: relative;
    background-color: var(--green);
}

.the-best-ad{
    margin-top: 4rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    padding: 25px 19px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.the-best-ad>span{
    z-index: 2;
}

.the-best-ad>div{
    position: absolute;
    background-color: var(--green);
    width: 7rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
}

.figures{
    display: flex;
    gap: 2rem;
}

.figures>div{
    display: flex;
    flex-direction: column;
}

.figures>div>span:nth-of-type(1){
    color: white;
    font-size: 2rem;
}

.figures>div>span:nth-of-type(2){
    color: var(--green);
    text-transform: uppercase;
}

.hero-buttons{
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.hero-buttons>:nth-child(1){
    color: white;
    background-color: var(--green);
    width: 14rem;
    font-size: 1.5rem;
}

.hero-buttons>:nth-child(2){
    color: white;
    background-color: transparent;
    width: 14rem;
    border: 2px solid var(--green);
    font-size: 1.5rem;
}

.right-h>.btn{
    position: absolute;
    right: 16rem;
    top: 2rem;
    color: black;
}

.heart-rate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--darkGrey);
    width: fit-content;
    padding: 1rem;
    align-items: flex-start;
    border-radius: 10px;
    position: absolute;
    right: 4rem;
    top: 7rem;
}

.heart-rate>img{
    width: 2rem;
}

.heart-rate>:nth-child(2){
    color: var(--gray);
    font-size: 1rem;
}

.heart-rate>:nth-child(3){
    color: white;
    font-size: 1.5rem;
}

.hero-image_user{
    position: absolute;
    top: 10.1rem;
    right: 6rem;
    width: 25rem;
}

.hero-image-back{
    position: absolute;
    top: 0rem;
    right: 11rem;
    z-index: -1;
    width: 32rem;
}

.calories{
    display: flex;
    gap: 1rem;
    background-color: var(--caloryCard);
    border-radius: 10px;
    padding: 1.5rem;
    width: max-content;
    position: absolute;
    top: 30rem;
    right: 28rem;
}

.calories>img{
    width: 4rem;
}

.calories>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calories>div>span:nth-of-type(1){
    color: var(--gray);
    font-size: 1.2rem;
}

.calories>div>span:nth-of-type(2){
    color: white;
    font-size: 1.5rem;
}

.blur-h {
    width: 22rem;
    height: 30rem;
    left: 0;
}